# INFO-F-422 -  Statistical Foundations of Machine Learning 

### Student 1 - [Melba.Raj.Sathyaraj.Mahila@vub.be](mailto:student1@ulb.ac.be) - Student ID 0574202
### Student 2 - [Deepika.Chandrababu@vub.be](mailto:student2@ulb.ac.be) - Student ID 0572230
### Student 3 - [Nicolas.J.Boucher@ulb.be](mailto:student3@ulb.ac.be) - Student ID 000467388

### Video presentation: www.youtube.com/abcd1234

## Project Title

# Introduction

In [83]:
library(ISwR)
# install.packages('naniar')
library(naniar)
# install.packages('dplyr')
library(dplyr)

## Data description

source: https://www.drivendata.org/competitions/7/pump-it-up-data-mining-the-water-table/page/25/

| feature name | meaning |
|:--------------|:---------|
| amount_tsh | Total static head (amount water available to waterpoint)|
| date_recorded | The date the row was entered |
| funder | Who funded the well |
| gps_height | Altitude of the well |
| installer | Organization that installed the well |
| longitude | GPS coordinate |
| latitude | GPS coordinate |
| wpt_name | Name of the waterpoint if there is one |
| num_private | No description |
| basin | Geographic water basin |
| subvillage | Geographic location |
| region | Geographic location |
| region_code | Geographic location (coded) |
| district_code | Geographic location (coded) |
| lga | Geographic location |
| ward | Geographic location |
| population | Population around the well |
| public_meeting | True/False |
| recorded_by | Group entering this row of data |
| scheme_management | Who operates the waterpoint |
| scheme_name | Who operates the waterpoint |
| permit | If the waterpoint is permitted |
| construction_year | Year the waterpoint was constructed |
| extraction_type | The kind of extraction the waterpoint uses |
| extraction_type_group | The kind of extraction the waterpoint uses |
| extraction_type_class | The kind of extraction the waterpoint uses |
| management | How the waterpoint is managed |
| management_group | How the waterpoint is managed |
| payment | What the water costs |
| payment_type | What the water costs |
| water_quality | The quality of the water |
| quality_group | The quality of the water |
| quantity | The quantity of water |
| quantity_group | The quantity of water |
| source | The source of the water |
| source_type | The source of the water |
| source_class | The source of the water |
| waterpoint_type | The kind of waterpoint |
| waterpoint_type_group | The kind of waterpoint |

# Data preprocessing

## Missing value imputation

## Feature engineering

## Feature selection

In [95]:
#read training values.csv dataset
train_data<-read.csv("dataset/training values.csv",na.strings=c("","NA"))
train_labels<-read.csv("dataset/training labels.csv")

cat("Training data: \n\tDimensions [",dim(train_data),"]"
        ,"\n\tDimensions without NA: [",dim(na.omit(train_data)),"]"
        ,"\n\tColumns: see below\n")
cat("Training labels: \n\tDimensions [",dim(train_labels),"]"
        ,"\n\tDimensions without NA: [",dim(na.omit(train_labels)),"]"
        ,"\n\tColumns: ID and status")

Training data:
	Dimensions [ 59400 40 ]
	Dimensions without NA: [ 27813 40 ]
	Columns: see below
Training labels:
	Dimensions [ 59400 2 ]
	Dimensions without NA: [ 59400 2 ]
	Columns: ID and status

    variable              n_miss pct_miss
1   scheme_name           28166  47.417508
2   scheme_management      3877   6.526936
3   installer              3655   6.153199
4   funder                 3635   6.119529
5   public_meeting         3334   5.612795
... ...                   ...    ...
36  source                0      0
37  source_type           0      0
38  source_class          0      0
39  waterpoint_type       0      0
40  waterpoint_type_group 0      0

In [85]:
# options(repr.matrix.max.cols=150, repr.matrix.max.rows=10)
# train_data
train_labels

      id    status_group
1     69572 functional
2      8776 functional
3     34310 functional
4     67743 non functional
5     19728 functional
...   ...   ...
59396 60739 functional
59397 27263 functional
59398 37057 functional
59399 31282 functional
59400 26348 functional

In [86]:
# display
miss_var_summary(train_data)

    variable              n_miss pct_miss
1   scheme_name           28166  47.417508
2   scheme_management      3877   6.526936
3   installer              3655   6.153199
4   funder                 3635   6.119529
5   public_meeting         3334   5.612795
... ...                   ...    ...
36  source                0      0
37  source_type           0      0
38  source_class          0      0
39  waterpoint_type       0      0
40  waterpoint_type_group 0      0

In [87]:
# To get distinct counts in each column
# https://stackoverflow.com/questions/22196078/count-unique-values-for-every-column
train_distinct<-apply(train_data, 2, function(x) length(unique(x)))
train_distinct

                   id            amount_tsh         date_recorded
                59400                    98                   356
               funder            gps_height             installer
                 1898                  2428                  2146
            longitude              latitude              wpt_name
                55366                 57517                 37400
          num_private                 basin            subvillage
                   65                     9                 19288
               region           region_code         district_code
                   21                    27                    20
                  lga                  ward            population
                  125                  2092                  1049
       public_meeting           recorded_by     scheme_management
                    3                     1                    13
          scheme_name                permit     construction_year
                 2697                     3                    55
      extraction_type extraction_type_group extraction_type_class
                   18                    13                     7
           management      management_group               payment
                   12                     5                     7
         payment_type         water_quality         quality_group
                    7                     8                     6
             quantity        quantity_group                source
                    5                     5                    10
          source_type          source_class       waterpoint_type
                    7                     3                     7
waterpoint_type_group
                    6

In [88]:
# Check whether the column id of both dataset and labels are in the same order after merge
identical(train_data[['id']],train_labels[['id']])

# Dropping the unnecessary second id column before merging the labels and data
train_labels$id <- NULL

train_dataset = cbind(train_data, train_labels)

dim(train_dataset)
train_dataset

[1] TRUE

[1] 59400    41

      id    amount_tsh date_recorded funder          gps_height installer
1     69572 6000       2011-03-14    Roman           1390       Roman
2      8776    0       2013-03-06    Grumeti         1399       GRUMETI
3     34310   25       2013-02-25    Lottery Club     686       World vision
4     67743    0       2013-01-28    Unicef           263       UNICEF
5     19728    0       2011-07-13    Action In A        0       Artisan
...   ...   ...        ...           ...             ...        ...
59396 60739   10       2013-05-03    Germany Republi 1210       CES
59397 27263 4700       2011-05-07    Cefa-njombe     1212       Cefa
59398 37057    0       2011-04-11    NA                 0       NA
59399 31282    0       2011-03-08    Malec              0       Musa
59400 26348    0       2011-03-23    World Bank       191       World
      longitude latitude   wpt_name             num_private
1     34.93809   -9.856322 none                 0
2     34.69877   -2.147466 Zahanati             0
3     37.46066   -3.821329 Kwa Mahundi          0
4     38.48616  -11.155298 Zahanati Ya Nanyumbu 0
5     31.13085   -1.825359 Shuleni              0
...   ...       ...        ...                  ...
59396 37.16981  -3.253847  Area Three Namba 27  0
59397 35.24999  -9.070629  Kwa Yahona Kuvala    0
59398 34.01709  -8.750434  Mashine              0
59399 35.86132  -6.378573  Mshoro               0
59400 38.10405  -6.747464  Kwa Mzee Lugawa      0
      basin                   subvillage   region      region_code
1     Lake Nyasa              Mnyusi B     Iringa      11
2     Lake Victoria           Nyamara      Mara        20
3     Pangani                 Majengo      Manyara     21
4     Ruvuma / Southern Coast Mahakamani   Mtwara      90
5     Lake Victoria           Kyanyamisa   Kagera      18
...   ...                     ...          ...         ...
59396 Pangani                 Kiduruni     Kilimanjaro  3
59397 Rufiji                  Igumbilo     Iringa      11
59398 Rufiji                  Madungulu    Mbeya       12
59399 Rufiji                  Mwinyi       Dodoma       1
59400 Wami / Ruvu             Kikatanyemba Morogoro     5
      district_code lga            ward             population public_meeting
1      5            Ludewa         Mundindi         109        True
2      2            Serengeti      Natta            280        NA
3      4            Simanjiro      Ngorika          250        True
4     63            Nanyumbu       Nanyumbu          58        True
5      1            Karagwe        Nyakasimbi         0        True
...   ...           ...            ...              ...        ...
59396 5             Hai            Masama Magharibi 125        True
59397 4             Njombe         Ikondo            56        True
59398 7             Mbarali        Chimala            0        True
59399 4             Chamwino       Mvumi Makulu       0        True
59400 2             Morogoro Rural Ngerengere       150        True
      recorded_by             scheme_management scheme_name
1     GeoData Consultants Ltd VWC               Roman
2     GeoData Consultants Ltd Other             NA
3     GeoData Consultants Ltd VWC               Nyumba ya mungu pipe scheme
4     GeoData Consultants Ltd VWC               NA
5     GeoData Consultants Ltd NA                NA
...   ...                     ...               ...
59396 GeoData Consultants Ltd Water Board       Losaa Kia water supply
59397 GeoData Consultants Ltd VWC               Ikondo electrical water sch
59398 GeoData Consultants Ltd VWC               NA
59399 GeoData Consultants Ltd VWC               NA
59400 GeoData Consultants Ltd VWC               NA
      permit construction_year extraction_type extraction_type_group
1     False  1999              gravity         gravity
2     True   2010              gravity         gravity
3     True   2009              gravity         gravity
4     True   1986              submersible     submersible
5     True      0              gravity         gravity
...   ...    ...               ...             ...
59396 True   1999              gravity         gravity
59397 True   1996              gravity         gravity
59398 False     0              swn 80          swn 80
59399 True      0              nira/tanira     nira/tanira
59400 True   2002              nira/tanira     nira/tanira
      extraction_type_class management  management_group payment
1     gravity               vwc         user-group       pay annually
2     gravity               wug         user-group       never pay
3     gravity               vwc         user-group       pay per bucket
4     submersible           vwc         user-group       never pay
5     gravity               other       other            never pay
...   ...                   ...         ...              ...
59396 gravity               water board user-group       pay per bucket
59397 gravity               vwc         user-group       pay annually
59398 handpump              vwc         user-group       pay monthly
59399 handpump              vwc         user-group       never pay
59400 handpump              vwc         user-group       pay when scheme fails
      payment_type water_quality quality_group quantity     quantity_group
1     annually     soft          good          enough       enough
2     never pay    soft          good          insufficient insufficient
3     per bucket   soft          good          enough       enough
4     never pay    soft          good          dry          dry
5     never pay    soft          good          seasonal     seasonal
...   ...          ...           ...           ...          ...
59396 per bucket   soft          good          enough       enough
59397 annually     soft          good          enough       enough
59398 monthly      fluoride      fluoride      enough       enough
59399 never pay    soft          good          insufficient insufficient
59400 on failure   salty         salty         enough       enough
      source               source_type          source_class
1     spring               spring               groundwater
2     rainwater harvesting rainwater harvesting surface
3     dam                  dam                  surface
4     machine dbh          borehole             groundwater
5     rainwater harvesting rainwater harvesting surface
...   ...                  ...                  ...
59396 spring               spring               groundwater
59397 river                river/lake           surface
59398 machine dbh          borehole             groundwater
59399 shallow well         shallow well         groundwater
59400 shallow well         shallow well         groundwater
      waterpoint_type             waterpoint_type_group status_group
1     communal standpipe          communal standpipe    functional
2     communal standpipe          communal standpipe    functional
3     communal standpipe multiple communal standpipe    functional
4     communal standpipe multiple communal standpipe    non functional
5     communal standpipe          communal standpipe    functional
...   ...                         ...                   ...
59396 communal standpipe          communal standpipe    functional
59397 communal standpipe          communal standpipe    functional
59398 hand pump                   hand pump             functional
59399 hand pump                   hand pump             functional
59400 hand pump                   hand pump             functional

Random forests need the target variable to be categorical:

In [89]:
train_dataset$status_group <- as.factor(train_dataset$status_group)

In [92]:
train_dataset <- na.omit(train_dataset)
dim(train_dataset)

[1] 27813    41

Splitting the dataset into train and validation subsets

In [93]:
selected_ids <- sample(1:nrow(train_dataset))

# Splitting the dataset in half to get a train and validation sets. This repartition will be tweaked later.
split <- floor(nrow(train_dataset)/2)

# The target variable (status_group) is the last column
target_variable <- ncol(train_dataset)

train_full <- train_dataset[selected_ids[1:split],]
valid_full <- train_dataset[selected_ids[(split+1):nrow(train_dataset)],]

xtrain = train_full[, -target_variable]
ytrain = train_full[, target_variable]
xvalid = valid_full[, -target_variable]
yvalid = valid_full[, target_variable]

dim(xtrain)
dim(xvalid)

[1] 13906    40

[1] 13907    40

In [94]:
library("randomForest")

set.seed(42)
RF = randomForest(x=xtrain,y=ytrain,xvalid,yvalid,ntree=300)
cat("Classification rate:",(RF$test$confusion[1,1]+RF$test$confusion[2,2])/length(yvalid))

Classification rate: 0.5529589

# Model selection

## Model 1

## Model 2

## Model 3

#### Example of simple equation
\begin{equation}
e = mc^2
\end{equation}

#### Example of matrix equation - Cross product formula:

\begin{equation*}
\mathbf{V}_1 \times \mathbf{V}_2 =  \begin{vmatrix}
\mathbf{i} & \mathbf{j} & \mathbf{k} \\
\frac{\partial X}{\partial u} &  \frac{\partial Y}{\partial u} & 0 \\
\frac{\partial X}{\partial v} &  \frac{\partial Y}{\partial v} & 0
\end{vmatrix}
\end{equation*}

#### Example of multiline equation - The Lorenz Equations:

\begin{align}
\dot{x} & = \sigma(y-x) \\
\dot{y} & = \rho x - y - xz \\
\dot{z} & = -\beta z + xy
\end{align}

#### Example of Markdown Table:

| This | is   |
|------|------|
|   a  | table|

# Alternative models

# Conclusions